!!!
%html{:lang => "en"}
  / Mirrored from www.sdlg.com.au/ by HTTrack Website Copier/3.x [XR&amp;CO'2008], Wed, 11 Mar 2015 12:35:16 GMT
  / Added by HTTrack
  %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}
    / /Added by HTTrack
    %head
      %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
      %title Home - SDLG Australia
      %link{:href => "indexc0d0.html?format=feed&amp;type=rss", :rel => "alternate", :title => "RSS 2.0", :type => "application/rss+xml"}/
      %link{:href => "index7b17.html?format=feed&amp;type=atom", :rel => "alternate", :title => "Atom 1.0", :type => "application/atom+xml"}/
      
      :javascript
        window.addEvent('load', function() {
        				new JCaption('img.caption');
        			});
        		window.addEvent('domready', function() {
        
        			SqueezeBox.initialize({});
        			SqueezeBox.assign($$('a.modal'), {
        				parse: 'rel'
        			});
        		});
           
           
      
      %link{:href => "images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
      
      :javascript
        (function(a,e,c,f,g,b,d){var h={ak:"976071733",cl:"AsA1CLbP-1YQtdi20QM"};a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)};a[f]||(a[f]=h.ak);b=e.createElement(g);b.async=1;b.src="../assets/loader.js";d=e.getElementsByTagName(g)[0];d.parentNode.insertBefore(b,d);a._googWcmGet=function(b,d,e){a[c](2,b,h,d,null,new Date,e)}})(window,document,"_googWcmImpl","_googWcmAk","script");
      :javascript
        function PhoneNumUpdate() {
        _googWcmGet('number', '1300 887 530')
        }
        / End Call Conversion Tracking
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement( o ),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../assets/analytics.js','ga');
        ga('create', 'UA-46605461-3', 'sdlg.com.html');
        ga('send', 'pageview');
      %body{:onload => "PhoneNumUpdate()"}
      / Google Tag Manager
      %noscript
        %iframe{:height => "0", :src => "http://www.googletagmanager.com/ns.html?id=GTM-WHCN6S", :style => "display:none;visibility:hidden", :width => "0"}
      :javascript
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WHCN6S');
                / End Google Tag Manager
      / Container Start
      #container
        / Header Start
        #header
          /
            <h1 id="logo" title="Shandong Lingong Construction Machinery Co., Ltd.">
            <a href="/">Shandong Lingong Construction Machinery Co., Ltd.</a>
            </h1>
          .moduletable
            .custom
              %h1#logo{:title => "Shandong Lingong Construction Machinery Co., Ltd."}
                %a{:href => "/homes", :title => "Home"} Shandong Lingong Construction Machinery Co., Ltd.
          / <h2 id="slogan" title="SDLG - Reliability in Action">SDLG – The experts at delivery value for money</h2>
          .moduletable
            .custom
              %h2#slogan{:title => "SDLG - Reliability in Action"}
                SDLG &ndash; The Experts at Delivering Value for Money
          / Main Top Start
          .moduletable
            %ul.menu-top
              %li.item-128.current.active
                %a{:href => "/homes"} Home
              %li.item-129
                %a{:href => "#"} Sitemap
              %li.item-130
                %a{:href => "#"} Search
              %li.item-131
                %a{:href => "http://www.cjdequipment.ihub.com.au/", :target => "_blank"} Used Equipment
          / Main Top Finish
          %h3#phone{:title => "1300 887 530"}
            %nobr
              %span.number 1300 887 530
          / Main Menu Start
          .moduletable_menu
            %ul.menu-main
              %li.item-107.deeper.parent
                %a{:href => "/homes/about"} About
                %ul
                  %li.item-112
                    %a{:href => "#"} About SDLG China
                  %li.item-114
                    %a{:href => "#"} About CJD Equipment
                  %li.item-115
                    %a{:href => "#"} History Timeline
                  %li.item-113
                    %a{:href => "#"} Gallery
              %li.item-132
                %a{:href => "#"} News
              %li.item-117
                %a{:href => "/homes/products"} Products &nbsp
              %li.item-110
                %a{:href => "/homes/parts"} Parts &nbsp
              %li.item-133
                %a{:href => "/homes/dealers"} Dealers &nbsp
              %li.item-111
                %a{:href => "/homes/contact"} Contact &nbsp
          / Main Menu Finish
          .clear
        / Header Finish
        / Subheader Start
        #subheader
          .moduletable
            .breadcrumbs
              %a.pathway{:href => "index.html"} Home
              »
              %span About
        .banner
          .moduletable
            .custom
              %p
                %img{:alt => "Lingong Loader is awarded Product of Famous Brand in China again", :border => "0", :src => "/assets/Cropped.jpg", :style => "width: 989px; height: 162px; border: 0px solid;"}/
                / Subheader Finish
                / Subcontainer Start
        #subcontainer
          #content
            .item-page
              %h2.contentheading
                About SDLG
              %h4
                %strong
                  %a{:href => "http://www.cjd.com.au/", :target => "_blank"} CJD Equipment
                  is the Australian distributor for SDLG Construction Machinery, with 50 plus outlets nationwide,&nbsp;our dealer network is there to support&nbsp;our customers with world class, sales, service and parts backup 24 hours a day, 7 days a week.
              %p
                SDLG was established in 1972, and now the company has become an important large scale enterprise in the Chinese construction machinery industry, and a Hi-tech enterprise in China, manufacturing over 38,000 loaders in 2011. SDLG was China's largest manufacturer &amp; exporter of wheel loaders in 2011.
              %table#about{:cellpadding => "1", :cellspacing => "1", :width => "100%"}
                %tbody
                  %tr
                    %td
                      %img{:alt => "Lingong Introduction", :src => "/assets/intro.gif", :style => "width: 118px; height: 102px;"}/
                    %td
                      %p.introLink
                        %a{:href => "#"} About SDLG&nbsp;China
                        %br/
                        The developing strategy of SDLG is &ldquo;Establish a famous brand, and ...
                    %td
                      %img{:alt => "Enterprise Honors", :src => "/assets/honors.gif", :style => "width: 118px; height: 102px;"}/
                    %td
                      %p.introLink
                        %a{:href => "#"} About CJD
                        %br/
                        CJD Equipment is the Australian distributor for SDLG Construction Machinery...
                  %tr
                    %td
                      %img{:alt => "#", :src => "/assets/history.gif", :style => "width: 118px; height: 102px;"}/
                    %td
                      %p.introLink
                        %a{:href => "#"} History Timeline
                        %br/
                        SDLG will make a solid footprint in each of its growing stage.
                    %td
                      %img{:alt => "Pictures", :src => "/assets/pictures.gif", :style => "width: 118px; height: 102px;"}/
                    %td
                      %p.introLink
                        %a{:href => "#"} Gallery
                        %br/
                        You can see manufacturing, exhibition hall, office area, and other company pictures here...
                  %p
                    \&nbsp;

        #right
          .module_products.style-box
            %h3 SDLG Loaders
            .content
              #slideshow-2-550036979783c.wk-slideshow.wk-slideshow-default{"data-options" => "{\"style\":\"default\",\"autoplay\":1,\"interval\":5000,\"width\":273,\"height\":\"auto\",\"duration\":500,\"index\":0,\"order\":\"default\",\"navigation\":0,\"buttons\":0,\"slices\":20,\"animated\":\"fade\",\"caption_animation_duration\":500}", "data-widgetkit" => "slideshow"}
                %div
                  %ul.slides
                    %li
                      %article.wk-content.clearfix
                        %h4
                          %strong
                            %a{:href => "products/37-lg918-wheel-loader-sdlg.html", :title => "LG918L Wheel Loader"} LG918 Wheel Loader
                        %p
                          %img{:alt => "", :src => "/assets/918-thumb.jpg", :style => "width: 92px; height: 84px;"}/
                        %p
                          Yuchai YC4D80-T10 engine&nbsp;delivering efficient engine power and excellent reliability.
                        %p
                          \&nbsp;
                    %li
                      %article.wk-content.clearfix
                        %h4
                          %strong
                            %a{:href => "products/41-lg936l-wheel-loader.html", :title => "LG936L Wheel Loader"} LG936L Wheel Loader
                        %p
                          %img{:alt => "", "data-src" => "/images/936(1).jpg", :src => "data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==", :style => "width: 92px; height: 84px;"}/
                          %p
                            Cummins 6 cylinder 5.9 litre engine delivering efficient engine power and excellent reliability.
                      %li
                        %article.wk-content.clearfix
                          %h4
                            %a{:href => "products/40-lg938l-seriesii-wheel-loader.html", :title => "LG938L Series II Wheel Loader"} LG938L Series II Wheel Loader
                          %p
                            %img{:alt => "", "data-src" => "/images/9382.jpg", :src => "data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==", :style => "width: 92px; height: 84px;"}/
                          %p
                            Deutz 6 Litre 6 Cylinder engine delivering efficient engine power and excellent reliability.
                      %li
                        %article.wk-content.clearfix
                          %h4
                            %strong
                              %a{:href => "products/38-lg958l-wheel-loader.html", :title => "LG958L Wheel Loader"} LG958L Wheel Loader
                          %p
                            %img{:alt => "", "data-src" => "/images/9582.jpg", :src => "data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==", :style => "width: 92px; height: 84px;"}/
                          %p
                            Deutz 7.15L 6 Cylinder engine delivering efficient engine power and excellent reliability.
                      %li
                        %article.wk-content.clearfix
                          %h4
                            %strong
                              %a{:href => "products/39-lg959l-wheel-loader.html", :title => "LG959L Wheel Loader"} LG959L Wheel Loader
                          %p
                            %img{:alt => "", "data-src" => "/images/9592.jpg", :src => "data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==", :style => "width: 92px; height: 84px;"}/
                          %p
                            Deutz 7.15L 6 Cylinder engine delivering efficient engine power and excellent reliability.
                      %li
                        %article.wk-content.clearfix
                          %h4
                            %strong
                              %a{:href => "products/77-lg978l-wheel-loader.html", :title => "LG978L Wheel Loader"} LG978L Wheel Loader
                          %p
                            %img{:alt => "", "data-src" => "/images/products/thumbs/LG978-studio-shot-thumb.jpg", :src => "data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==", :style => "width: 92px; height: 71px;"}/
                          %p
                            Deutz 11.6L 6 Cylinder engine delivering efficient engine power and excellent reliability.
                    .caption
                    %ul.captions
                      %li
                      %li
                      %li
                      %li
                      %li
                      %li
        / Subcontainer Finish
        / Footer Start
        #footer
          .moduletable-footer
            %ul.menu-footer
              %li.item-124
                %a{:href => "#"} Sitemap
              %li.item-125
                %a{:href => "#"} Contact Us
              %li.item-141
                %a{:href => "#"} Dealer Login/Logout
          .moduletable
            .custom
              %p
                A division of
                / <img height="10" alt="CJD" src="/templates/sdlg/images/cjd.png" />
                = succeed "." do
                  %a{:href => "http://www.cjd.com.au/", :target => "_blank"} CJD Equipment Pty. Ltd
                Copyright 2010 All Rights Reserved
                %br/
               
        / Footer Finish
      / Container Finish
      /
        <script type="text/javascript">jQuery.noConflict();</script>
        <script type="text/javascript" src="/templates/sdlg/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
        <script type="text/javascript">
        jQuery("a").filter('.fancybox, [href$=jpg], [href$=jpeg], [href$=gif], [href$=png]').not('[rel=one-big-group]').fancybox({
        'centerOnScroll': true
        });
        </script>
    / Mirrored from www.sdlg.com.au/contact.html by HTTrack Website Copier/3.x [XR&amp;CO'2008], Wed, 11 Mar 2015 12:37:44 GMT
    / Added by HTTrack
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}
      / /Added by HTTrack
